langguage: go

go:
  - master

install:
  - wget https://github.com/gohugoio/hugo/releases/download/v0.55.6/hugo_0.55.6_Linux-64bit.tar.gz
  - tar -zxf hugo_0.55.6_Linux-64bit.tar.gz
  - chmod a+x hugo

script:
  - ./hugo

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  on:
    branch: master
  local_dir: ./public
  repo: hulb/hulb.github.io
  email: hulb@live.cn
  target_branch: master
